<% page = "Chat" %>

<div>
  <div id="observer"></div>
  <ul id="chat" class="chat"></ul>
  <div class="chat__input" id="chat-input">
    <p class="chat__warning" id="chat-warning" tabindex="0" role="button">Unread messages (Press ESC or click here to enable auto-scroll)</p>
    <textarea id="chat-textarea" class="chat__textarea"></textarea>
    <div>
      <span class="text--center text--warning chat__length" id="length-warning"></span>
      <div class="btn" id="chat-button">Send</div>
    </div>
  </div>
</div>